[Unit]
Description=Misc Prometheus Exporter
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/misc_prom_exp.py

[Install]
WantedBy=multi-user.target